
#edit-panel {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 8888;
    display: flex;
    margin-left: 0;
    width: 400px;
}

#edit-panel #line {
    /*position: relative;*/
    top: 0;
    bottom: 0;
    /*left: 209px;*/
    width: 4px;
    background: black;
    /*box-shadow: 0px 0px 8px #ccc;*/
    cursor: w-resize;
    /*opacity: 0;*/
}

body {
    position: relative;
    overflow-x: scroll;
}
html {
    position: relative;
}
